body {
    background-color: #6495ED;
    color: black;
    padding: 10px;
}

h1 {
    color: white;
    text-align: left;
    font-size: 1.5rem;
}

.container-fluid {
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    color: #345;
    width: 100%;
}

th, td {
    padding: 0.2em;
    text-align: left;
}

tbody {
    background-color: #fff;
    color: #345;
}

tr:nth-child(odd) {
    background-color: #eee;
}

.charge-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.green {
    background-color: #00ff00;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.status-icon {
    display: inline-block;
    width: 15px;
    height: 40px;
    margin-right: 7px;
}

.charging-icon:before {
    content: "\26AF";
    color: green;
}

.not-charging-icon:before {
    content: "\26AF";
    color: gray;
}

.empty-icon:before {
    content: "\25CB";
    color: gray;
}

.inactive-icon:before {
    content: "\26D4";
    color: red;
}

.ready-icon:before {
    content: "\2705";
    color: #00ff00;
}

#searchContainer {
    display: none;
    margin-top: 10px;
}

#searchContainer input[type="text"] {
    width: calc(100% - 80px); /* Подгоняем ширину ввода под новый размер кнопок */
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-form {
    margin-left: auto; /* Отодвинуть кнопку logout вправо */
}

#search-filter-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#search-filter-buttons {
    display: flex;
    align-items: center;
}

#filters, #searchContainer {
    margin-top: 0;
}

.btn-narrow {
    width: 70px; /* Уменьшенная фиксированная ширина кнопок */
    padding: 4px 8px; /* Уменьшенное внутреннее поле */
    font-size: 0.75rem; /* Уменьшенный размер шрифта */
}

nav {
    padding-right: 10px; /* Уменьшение внутреннего отступа справа для навигационного контейнера */
}

nav ul {
    padding-left: 0; /* Убираем отступ слева */
    list-style-type: none; /* Убираем маркеры списка */
}

nav .nav-item {
    margin-bottom: 5px; /* Отступ между элементами списка */
}

nav .nav-link {
    display: block; /* Чтобы кнопки занимали всю ширину элемента списка */
    width: 100%;
    padding: 6px 8px; /* Уменьшенные внутренние отступы для кнопок в навигации */
    font-size: 0.75rem; /* Уменьшенный размер шрифта */
}
