<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #6495ED;
            color: black;
            padding: 10px;
        }

        h1 {
            color: white;
            text-align: center;
        }

        .container-fluid {
            border-radius: 10px;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        table {
            color: #345;
            width: 100%;
        }

        th {
            background-color: #fff;
            color: #345;
            padding: 0.3em;
            text-align: left;
        }

        td {
            padding: 0.3em;
            text-align: left;
        }

        tbody {
            background-color: #fff;
            color: #345;
        }

        tr:nth-child(odd) {
            background-color: #eee;
        }

        .charge-circle {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }

        .green {
            background-color: green;
        }

        .yellow {
            background-color: yellow;
        }

        .red {
            background-color: red;
        }

        .blue {
            background-color: blue;
        }

        .status-icon {
            display: inline-block;
            width: 15px;
            height: 40px;
            margin-right: 7px;
        }

        .charging-icon:before {
            content: "\26AF";
            color: green;
        }

        .not-charging-icon:before {
            content: "\26AF";
            color: gray;
        }

        .empty-icon:before {
            content: "\25CB";
            color: gray;
        }

        .inactive-icon:before {
            content: "\26D4";
            color: red;
        }

        /* Новый стиль для поиска */
        #searchContainer {
            display: none; /* Скрываем поиск по умолчанию */
            margin-top: 10px;
        }

        #searchContainer input[type="text"] {
            width: calc(100% - 120px); /* Ширина поля ввода */
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Charge Monitoring Service</h1>
<div class="container-fluid">
    <div class="row">
        <nav class="col-lg-2 col-md-3 col-sm-4 col-xs-12 bg-light">
            <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#loginModal">Login</button>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link btn btn-primary mt-2" href="#">Box list</a></li>
                <li class="nav-item"><a class="nav-link btn btn-primary mt-2" href="#">Reports</a></li>

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-primary mt-2">Выход</button>
                </form>
                <!-- Add more links if needed -->
            </ul>
        </nav>
        <main role="main" class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
            <button class="btn btn-primary mt-2" onclick="toggleFilters()">Filter</button>
            <div id="filters" style="display: none;">
                <label for="cityFilter">City filter:</label>
                <select id="cityFilter" onchange="applyFilters()">
                    <option value="">All</option>
                    <option value="Almaty">Almaty</option>
                    <option value="Astana">Astana</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Capetown">Capetown</option>
                </select>
                <label for="zoneFilter">Zone filter:</label>
                <select id="zoneFilter" onchange="applyFilters()">
                    <option value="">All</option>
                    <option value="1">Zone 1</option>
                    <option value="2">Zone 2</option>
                    <option value="3">Zone 3</option>
                    <option value="4">Zone 4</option>
                </select>
            </div>
            <!-- Кнопка появления поля поиска -->
            <button class="btn btn-primary mt-2" onclick="toggleSearch()">Search</button>
            <!-- Поле поиска -->
            <div id="searchContainer">
                <input type="text" id="searchInput" placeholder="Search" onkeyup="filterTable()">
                <button class="btn btn-secondary" onclick="clearSearch()">Clear</button>
            </div>
            <!-- Кнопка возврата назад -->
            <button class="btn btn-secondary mt-2" onclick="goBack()">RETURN</button>
            <br>
            <div id="breadcrumb" class="breadcrumb"></div>
            <div id="dataDisplay">Press "Box list"</div>
        </main>
    </div>
</div>

<!-- Модальное окно для авторизации -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Авторизация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username">Логин</label>
                        <input type="text" class="form-control" id="username" placeholder="Введите логин">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" placeholder="Введите пароль">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</div>

<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/ss_main/');
    const socket_reports = new WebSocket('ws://' + window.location.host + '/ws/ss_main/reports');

    console.log("hi!");
    let historyStack = [];
    let typeStack = [];


    socket.onmessage = function(event) {
        const response = JSON.parse(event.data);
        updateContent(response);
    };

    socket_reports.onmessage = function(event) {
        const response = JSON.parse(event.data);
        updateReports(response);
    };

    function updateContent(response) {
        console.log("Репорты!")
    }

    function updateContent(response) {
        const type = response.type;
        const answer_data = response.data;
        let breadcrumbHtml;
        let tableHtml = '<table class="table table-striped" id="dataTable">';

        updateBreadcrumb(type);
        typeStack.push(type);

        const currentContent = document.getElementById('dataDisplay').innerHTML;
        if (currentContent) {
            if (historyStack.length >= 7) {
                historyStack.shift();
            }
            historyStack.push(currentContent);
        }

        if (type === 'cabinets') {
            breadcrumbHtml += ' > Шкафы';
            tableHtml += `
                <thead>
                    <tr>
                        <th>City &#9650;</th>
                        <th>Zone &#9650;</th>
                        <th>Box ID &#9650;</th>
                        <th>Address &#9650;</th>
                        <th>Locker ID &#9650;</th>
                        <th>Additional info</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>`;
            answer_data.forEach(item => {
                tableHtml += `<tr>
                                  <td>${item.city}</td>
                                  <td>${item.zone}</td>
                                  <td>${item.shkaf_id}</td>
                                  <td>${item.location}</td>
                                  <td>${item.street}</td>
                                  <td>${item.extra_inf}</td>
                                  <td><button class="btn btn-primary" onclick="loadCells(${item.shkaf_id})">Check slots</button></td>
                              </tr>`;
            });
        } else if (type === 'cells') {
            breadcrumbHtml += ' > Шкафы > Ячейки';
            tableHtml += `
                <thead>
                    <tr>
                        <th>Box &#9650;</th>
                        <th>Slot ID &#9650;</th>
                        <th>Status &#9650;</th>
                        <th>Charge in % &#9650;</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>`;
            answer_data.forEach(item => {
                let chargeColor = '';
                if (item.charge >= 91) {
                    chargeColor = 'green';
                } else if (item.charge >= 50) {
                    chargeColor = 'blue';
                } else if (item.charge >= 30) {
                    chargeColor = 'yellow';
                } else {
                    chargeColor = 'red';
                }

                let statusIcon = '';
                switch (item.status) {
                    case 'charging':
                        statusIcon = '<span class="status-icon charging-icon"></span>';
                        break;
                    case 'not_charging':
                        statusIcon = '<span class="status-icon not-charging-icon"></span>';
                        break;
                    case 'empty':
                        statusIcon = '<span class="status-icon empty-icon"></span>';
                        break;
                    case 'inactive':
                        statusIcon = '<span class="status-icon inactive-icon"></span>';
                        break;
                    default:
                        statusIcon = '';
                        break;
                }

                tableHtml += `<tr>
                                  <td>${item.station_id}</td>
                                  <td>${item.id}</td>
                                  <td>${statusIcon}${item.status}</td>
                                  <td><span class="charge-circle ${chargeColor}"></span>${item.charge}</td>
                                  <td><button class="btn btn-primary" onclick="loadCell(${item.vir_sn_eid}, '${item.shkaf_id}')">MARKET INFO</button></td>
                              </tr>`;
            });
        }

        tableHtml += '</tbody></table>';
        document.getElementById('breadcrumb').innerHTML = breadcrumbHtml;
        document.getElementById('dataDisplay').innerHTML = tableHtml;
    }

    function loadCells(cabinetId) {
        socket.send(JSON.stringify({'action': 'load_cells', 'cabinet_id': cabinetId}));
    }

    function loadCell(virSnEid) {
        socket.send(JSON.stringify({'action': 'load_cell', 'vir_sn_eid': virSnEid}));
    }

    document.querySelectorAll('.nav-link').forEach(item => {
        item.addEventListener('click', function(e) {
            socket.send(JSON.stringify({'action': 'load_cabinets'}));
        });
    });

    function updateBreadcrumb(type) {
        let breadcrumb = 'Главная > ';

        switch(type) {
            case 'cabinets':
                breadcrumb += 'Шкафы';
                break;
            case 'cells':
                breadcrumb += 'Шкафы > Ячейки';
                break;
            case 'cell':
                breadcrumb += 'Шкафы > Ячейки > Детали ячейки';
                break;
        }

        document.getElementById('breadcrumb').textContent = breadcrumb;
    }

    function goBack() {
        if (historyStack.length > 0) {
            const lastState = historyStack.pop();
            const lastType = typeStack.pop();

            document.getElementById('dataDisplay').innerHTML = lastState;
            updateBreadcrumb(lastType);
        } else {
            alert("Нет предыдущих состояний для отображения!");
            updateBreadcrumb('home');
        }
    }

    function toggleFilters() {
        const filters = document.getElementById("filters");
        if (filters.style.display === "none") {
            filters.style.display = "block";
        } else {
            filters.style.display = "none";
        }
    }

    function applyFilters() {
        const cityFilter = document.getElementById("cityFilter").value;
        const zoneFilter = document.getElementById("zoneFilter").value;

        const table = document.getElementById("dataTable");
        const rows = table.getElementsByTagName("tr");

        for (let i = 1; i < rows.length; i++) {
            const rowData = rows[i].getElementsByTagName("td");
            const city = rowData[0].innerText;
            const zone = rowData[1].innerText;
            const cityMatch = cityFilter === "" || city === cityFilter;
            const zoneMatch = zoneFilter === "" || zone === zoneFilter;
            rows[i].style.display = cityMatch && zoneMatch ? "" : "none";
        }
    }

    function filterTable() {
        const input = document.getElementById("searchInput").value.toLowerCase();
        const table = document.getElementById("dataTable");
        const rows = table.getElementsByTagName("tr");

        for (let i = 1; i < rows.length; i++) {
            const rowData = rows[i].getElementsByTagName("td");
            let found = false;

            for (let j = 0; j < rowData.length; j++) {
                const cellData = rowData[j].textContent.toLowerCase();
                if (cellData.indexOf(input) > -1) {
                    found = true;
                    break;
                }
            }

            rows[i].style.display = found ? "" : "none";
        }
    }

    // Функция переключения видимости поля поиска
    function toggleSearch() {
        const searchContainer = document.getElementById("searchContainer");
        if (searchContainer.style.display === "none") {
            searchContainer.style.display = "block";
        } else {
            searchContainer.style.display = "none";
        }
    }

    // Функция очистки поля поиска
    function clearSearch() {
        document.getElementById("searchInput").value = "";
        filterTable();
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
