<style>
  .bms-section { display: none; }
</style>

<form id="cabinet-settings-form" method="POST" action="{% url 'cabinet_settings' shkaf_id=cabinet.shkaf_id %}">
    {% csrf_token %}
    <h>Box №{{ cabinet.readable_name }}</h>
    <hr>

    <div class="bms-section">
      <h3 class="section-title">BMS</h3>
      <div class="form-group">
        {{ form.sn_error.label_tag }} {{ form.sn_error }}
      </div>
      <div class="form-group">
        {{ form.year_of_manufacture.label_tag }} {{ form.year_of_manufacture }}
      </div>
      <div class="form-group">
        {{ form.max_cycle_times.label_tag }} {{ form.max_cycle_times }}
      </div>
      <div class="form-group">
        {{ form.vid.label_tag }} {{ form.vid }}
      </div>
      <div class="form-group">
        {{ form.sw_ver.label_tag }} {{ form.sw_ver }}
      </div>
      <div class="form-group">
        {{ form.critical_temp.label_tag }} {{ form.critical_temp }}
      </div>
    </div>

    <hr>
    <h3 class="section-title"></h3>
    <div class="form-group">
        {{ form.temp_inside.label_tag }} {{ form.temp_inside }}
    </div>
    <div class="form-group">
        {{ form.mains_voltage.label_tag }} {{ form.mains_voltage }}
    </div>
    <div class="form-group">
        {{ form.reserve_voltage.label_tag }} {{ form.reserve_voltage }}
    </div>
    <div class="form-group">
        {{ form.lock_status.label_tag }} {{ form.lock_status }}
    </div>
    <div class="form-group">
        {{ form.fan_status.label_tag }} {{ form.fan_status }}
    </div>
    <div class="form-group">
        {{ form.smoke_status.label_tag }} {{ form.smoke_status }}
    </div>
</form>
