{% extends "ss_main/base.html" %}

{% block content %}

    <div class="container">
        <h1>Кабинеты города {{city.name}}</h1>
        <table>
            <thead>
                <tr>
                    <th>Город кабинета</th>
                    <th>Локация кабинета</th>
                    <th>Имя кабинета</th>
                </tr>
            </thead>
            <tbody>
                {% for cabinet in cabinets %}
                <tr>
                    <td><a href="{% url 'show_cells' cabinet_id=cabinet.id %}">{{ cabinet.city_id }}</a></td>
                    <td>{{ cabinet.location }}</td>
                    <td>{{ cabinet.readable_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}