{% extends "ss_main/base.html" %}

{% block content %}

    <div class="container">
        <h1>Ячейки кабинета {{cabinet.cabinet}}</h1>
        <table>
            <thead>
                <tr>
                    <th>ID ячейки</th>
                    <th>Номер кабинета</th>
                    <th>Заряд</th>
                    <th>Время</th>
                </tr>
            </thead>
            <tbody>
                {% for cell in cells %}
                        <tr>
                            <td>{{ cell.endpointid }}</td>
                            <td>{{ cell.stationid }}</td>
                            <td>{{ cell.cap_percent }}</td>
                            <td>{{ cell.time }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}