{% extends "ss_main/base.html" %}

{% block content %}

    <div class="container">
        <h1>SSWS</h1>
        <table>
            <thead>
                <tr>
                    <th>Город йоу</th>
                </tr>
            </thead>
            <tbody>
                {% for gorod in goroda %}
                <tr>
                    <td><a href="{% url 'show_cabinets' city_id=gorod.id %}">{{ gorod.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}