<table class="table table-striped">
    <thead>
        <tr>
            <th>Endpoint ID</th>
            <th>Состояние баланса</th>
            <th>Ёмкость</th>
            <th>Процент ёмкости</th>
            <th>VID</th>
            <th>SW Ver</th>
            <th>SN</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody id="cell-list">
        {% for cell in cells %}
        <tr>
            <td>{{ cell.endpointid }}</td>
            <td>{{ cell.status }}</td>
            <td>{{ cell.cap_percent }}%</td>
            <td>{{ cell.vid }}</td>
            <td>{{ cell.sw_ver }}</td>
            <td>{{ cell.sn }}</td>
            <td>
                <button class="btn btn-primary btn-sm" onclick="sendCommand('{{ cell.endpointid }}', '{{ cell.cabinet_id.shkaf_id }}')">Send command</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
