<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
</head>

<body>
<h1>Charge monitoring reports:</h1>
<div class="container-fluid">
    <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        <label for="city">City:</label>
        <div class="input-container">
            <input type="text" id="city" name="city">
            <button type="button" class="clear-input">x</button>
        </div>
        <div id="city_list" class="autocomplete-items"></div>
    </div>
    <div class="form-group">
        <label for="zone">Zone:</label>
        <div class="input-container">
            <input type="text" id="zone" name="zone">
            <button type="button" class="clear-input">x</button>
        </div>
        <div id="zone_list" class="autocomplete-items"></div>
    </div>
    <div class="form-group">
        <label for="station_id">Station ID:</label>
        <div class="input-container">
            <input type="text" id="station_id" name="station_id">
            <button type="button" class="clear-input">x</button>
        </div>
        <div id="station_id_list" class="autocomplete-items"></div>
    </div>
    <div class="form-group">
        {{ form.time_from.label_tag }}
        {{ form.time_from }}
    </div>
    <div class="form-group">
        {{ form.time_to.label_tag }}
        {{ form.time_to }}
    </div>
    <div class="form-group form-check">
        {{ form.select_all }}
        {{ form.select_all.label_tag }}
    </div>
    <button type="submit" class="btn btn-primary">Download report</button>
    <a href="{% url 'reset_selection' %}" class="btn btn-secondary">Reset selection</a>
</form>
</div>
<script src="{% static 'js/report.js' %}"></script>
</body>
</html>